:root{
  --verde-platzi:#98ca3f;
  --azul-platzi:#121f3d;
  --secondary-blue:#6CC3EF;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{font-size: 62.5%;}
body{
  font-size: 1.6rem;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
 
}
.btn{
  margin: 10px auto;
  border:2px solid var(--azul-platzi);
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;
  
}
.btn:hover{
  transform: scale(1.2);}
.Title{
  text-align: center;
  margin: 20px auto;
  color: var(--azul-platzi);
}






